In [2]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv('/Users/saranya/Documents/ML/Project/data/transactions_train.csv')

In [4]:
df.head(5)

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2

In [6]:
df.sort_values('t_dat')
df.tail(5)

,t_dat,customer_id,article_id,price,sales_channel_id
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

In [25]:
def query_based_on_date(df, start_date='2020-06-22', end_date='2020-09-22'):
    x = df[(df['t_dat']>start_date) & (df['t_dat']<=end_date)]
    return x

In [47]:
start_date = '2020-05-22'
x = query_based_on_date(df, start_date)
train_x = query_based_on_date(x, start_date, '2020-09-08')
test_x = query_based_on_date(x, '2020-09-08')

In [48]:
print(train_x['t_dat'])
print(test_x['t_dat'])

26148691    2020-05-23
26148692    2020-05-23
26148693    2020-05-23
26148694    2020-05-23
26148695    2020-05-23
               ...
31292767    2020-09-08
31292768    2020-09-08
31292769    2020-09-08
31292770    2020-09-08
31292771    2020-09-08
Name: t_dat, Length: 5144081, dtype: object
31292772    2020-09-09
31292773    2020-09-09
31292774    2020-09-09
31292775    2020-09-09
31292776    2020-09-09
               ...
31788319    2020-09-22
31788320    2020-09-22
31788321    2020-09-22
31788322    2020-09-22
31788323    2020-09-22
Name: t_dat, Length: 495552, dtype: object

In [49]:
train_x.shape, test_x.shape

((5144081, 5), (495552, 5))

In [50]:
train_customers = set(train_x['customer_id'].unique().tolist())
test_customers = set(test_x['customer_id'].unique().tolist())
print(len(train_customers), len(test_customers))
print(type(train_customers), type(test_customers))

592574 128333
<class 'set'> <class 'set'>

In [51]:
train_test_overlap = train_customers.intersection(test_customers)
print(len(train_test_overlap) / len(test_customers))

0.7526590978158385

In [ ]:
customers_to_remove = test_customers - train_test_overlap 
print(len(customers_to_remove))
test_customers-=customers_to_remove
print(len(test_customers))